{% extends "base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/">{% trans "Home" %}</a> &rsaquo;
  {{ fea_desc }}
</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<div id="content-main">
  <p>Dear {{ candidate.first_name }}:</p>
  <p>Your appliction to the <a href={{ pos_url }}>{{ pos.title }}</a> position will be closed.</p>
  <p>We regret that and wish you the best.</p>
</div>
{% endblock %}
