{% extends "base_list.html" %}
{% load adminmedia admin_list i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../">{% trans "Home" %}</a> &rsaquo;
  <a href="../">{% trans "Candidates" %}</a> &rsaquo;
  {{ title }}
</div>
{% endblock %}

{% block filters %}
  <div id="changelist-filter">
    <h2>{% trans 'Action' %}</h2>
    <p><a href="change">Change resume</a></p>
  </div>
{% endblock %}

{% block content-list %}
<div id="content-main">
  {% include "candidates/resume.html" %}
</div>
{% endblock %}